@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
  font-family: "Kaisei HarunoUmi", serif;
}
.hidden {
  display: none;
}

#bgimg {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: fill;
  overflow: hidden;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#clock {
  z-index: 2;
  position: absolute;
  top: 0px;
  display: inline-flex;
  margin: 10px;
  left: 0px;
}
#apBox {
  display: flex;
  position: absolute;
  top: 0px;
  left: 20px;
  margin-top: 13px;
}
#ap {
  font-size: 13px;
  display: flex;
}
#date {
  position: absolute;
  left: 26px;
  top: 30px;
  margin-top: 27px;
}
#login-form {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#login-form input,
#todo-form input,
#search input,
#google input,
#naver input {
  z-index: 2;
  border-left: none;
  border-right: none;
  border-color: goldenrod;
  font-family: "Kaisei HarunoUmi", serif;
  background: none;
}

#login-form button {
  font-family: "Kaisei HarunoUmi", serif;
  background-color: goldenrod;
}
h1 {
  z-index: 2;
  display: flex;
  justify-content: center;
}

#todo-form,
#todo-list {
  position: absolute;
  top: 290px;
  right: 240px;
}
#todo-list {
  z-index: 2;
  overflow-y: auto;
  height: 250px;
  width: 175px;
  top: 315px;
  right: 238px;
}

#todo-list li button {
  border: none;
  background: none;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 178, 2, 0.151);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 0px;
  font-size: 15px;
  font-family: "Nanum Gothic", sans-serif;
}

#집게핀달린흰색,
#집게핀달린흰색검색 {
  position: absolute;
  z-index: -1;
  width: 500px;
  display: flex;
  right: 80px;
  top: 140px;
}
#집게핀달린흰색검색 {
  left: 80px;
}
#search {
  position: absolute;
  display: flex;
  left: 245px;
  top: 290px;
}
#google {
  position: absolute;
  display: flex;
  left: 245px;
  top: 330px;
}
#naver {
  position: absolute;
  display: flex;
  left: 245px;
  top: 370px;
}

#quote {
  z-index: 2;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
}

#quote span:first-child,
#quote span:last-child {
  display: flex;
  justify-content: center;
}

#quote span:first-child {
  font-weight: bolder;
  margin-bottom: 5px;
}
#quote span:last-child {
  font-weight: lighter;
  font-size: 15px;
}
#weather {
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 20px;
}
#greeting {
  cursor: pointer;
}
